<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.get.jacd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/gj_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzfqACmE1QnZWmf215WLLwN1KBX70qOWs" />

        <activity
            android:name=".SignIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_setup_profile" >
        </activity>
        <activity
            android:name=".CreateGroup"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".GroupProfile"
            android:label="@string/title_activity_group_profile" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="Get Jac&apos;d!" >
        </activity>
        <activity
            android:name=".SearchGroups"
            android:label="Search Groups" >
        </activity>
    </application>

</manifest>